{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load static %}

{% block title %}Products detail{% endblock %}

{% block content %}
    <p>Детальная информация</p>
    {% if product_object %}
        {% if product_object.image %}
            <img src="{{ product_object.image.url }}">
        {% else %}
            <img src="{% static 'no-image.jpg' %}" alt="{{ product_object.name }}">
        {% endif %}
        <p>Артикул - {{ product_object.vendor_cod }}</p>
        <p>Наименование - {{ product_object.name }}</p>
        <p>Описание - {{ product_object.description }}</p>
        <p>Цена - {{  product_object.cost }} р.</p>
        <p>{{ product_object.status }}</p>
        <a href="#" class="btn btn-primary">В корзину</a>
                <a href="#" class="btn btn-primary">Купить</a>
        <div class="container">
    <div class="row">
      <div class="col-3">
        <form method="POST" class="post-form">
          {% csrf_token %}
          {{ comment_form|crispy }}
          <button type="submit" class="btn btn-primary">Добавить комментарий</button>
        </form>
      </div>
    </div>
  </div>
    {% endif %}
    {% for comment in comments %}
        <p> -{{ comment.user.first_name }}</p>
        <p> {{ comment.text }}</p>
    {% endfor %}
{% endblock %}
