{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load static %}

{% block title %}Products detail{% endblock %}

{% block content %}
    <p>Детальная информация</p>
    {% if product %}
        {% if product.image %}
            <img src="{{ product.image.url }}">
        {% else %}
            <img src="{% static 'no-image.jpg' %}" alt="{{ product.name }}">
        {% endif %}
        <p>Артикул - {{ product.vendor_cod }}</p>
        <p>Наименование - {{ product.name }}</p>
        <p>Описание - {{ product.description }}</p>
        <p>Цена - {{ product.cost }} р.</p>
        <p>{{ product.status }}</p>

        <form action="{% url "basket_add" product.id %}" method="post">
            {{ basket_product_form }}
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">В корзину</button>
        </form>


        {#        <a href="#" class="btn btn-primary">Купить</a>#}<br>
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <form method="POST" class="post-form">
                        {% csrf_token %}
                        {{ comment_form|crispy }}
                        <button type="submit" class="btn btn-primary">Добавить комментарий</button>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
    {% for comment in comments %}
        <b> -{{ comment.user.first_name }}</b>
        <p> {{ comment.text }}</p>
    {% endfor %}
{% endblock %}
